# python :
*.py[cod]
*.so
*.egg
*.egg-info

# svn :
.svn

# git :

#.gitignore
settings_local.py

# project:
.amateras
.pydevproject
.project
*.bak
.settings

# other :
*.orig
*.bak

# sublime text project
*.sublime-project
*.sublime-workspace
.DS_Store

# extra directory :
node_modules
